.dropdown-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.dropdown-select {
    padding: 10px 0px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    color: rgb(112, 111, 111);
}
